<<<<<<< HEAD
<div class="container-fluid" style="background:../../public/img/burger2.jpg">
=======
<div class="container-fluid">
>>>>>>> eec83a6ffad73d28b4d6bc6dad06d84edf1d5526
    <div class="row">       
        <div class="container col-md-12" style="background-color: black; margin-top: 5px;">

            <div class="jumbotron" style="background-color: #ffdae0; margin-top: 5px; background-image:/public/img/burger.jpg;">

                    <div style="text-align:center; ">
<<<<<<< HEAD
                        <h1>SQL-DA-BURGERS</h1>
=======
                        <h1>EAT-DA-BURGERS</h1>
>>>>>>> eec83a6ffad73d28b4d6bc6dad06d84edf1d5526
                        <form action="/add" method="POST">
                            <input type="text" id="burgerName" name="burgerName" placeholder="   Enter Burger you want to eat" style="width: 300px; border:solid; border-color: red; border-width: .2px; border-radius: 2px; height: 30px; font-size: 15px;">
                            <button type="submit" id="addBurger" class="btn btn-warning" style="margin-left: 15px;">Submit</button>
                        </form>
                    </div>

                <div class="row" style="margin-top: 3px;">
                    
                    <div class="col-md-6" style="height: 400px; overflow-y: scroll; width: 460px;">
                        {{#undevouredBurgers}}
                            <div style="border: solid; border-color: red; border-width: .2px; border-radius: 5px; width:400px; padding: 5px;  margin-top: 20px; text-align: center;">
                                <p>{{burger_name}}</p>
                                <form action="/update/{{this.id}}?_method=PUT" method="POST">
                                    <button type="submit" class="btn btn-warning">Devour It!</button>
                                </form>
                                <form action="/delete/{{this.id}}?_method=DELETE" method="POST">
                                    <input type="submit" style="cursor:pointer;width:55px;height:22px;margin-top:8px;" value="delete"/>
                                </form>
                            </div>  
                        {{/undevouredBurgers}}
                    </div>

                    <div class="col-md-6"  style="height: 400px; overflow-y: scroll; width: 460px; margin-left: 50px;">
                        {{#devouredBurgers}}
                        <div>
                            <div style="border: solid; border-color: red; border-width: .2px; border-radius: 5px; width:400px; padding: 5px; margin-top: 20px;">
                                <p>{{burger_name}}</p>
                                <form action="/delete/{{this.id}}?_method=DELETE" method="POST">
                                    <input type="submit" style="cursor:pointer;width:55px;height:22px;margin-top:8px;" value="delete"/>
                                </form>
                            </div>
                        </div>
                        {{/devouredBurgers}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="background-color: black; color:white; text-align: center; height: 50px; width: 100%; margin-top: 30px; border-radius: 2px; padding: 15px;">
                        <p>Copyright@ Elmas Sayed 2017</p>
                    </div>
                </div>
            </div>
        </div>
    </div>            
</div>
